body{
    background-color: rgb(220, 223, 224);
    color: #070707;
    font-family: 'Exo 2', sans-serif;
    font-size: 50px;
}
div{
    border-style: solid;
    border-color: rgb(165, 162, 161);
    border-width: 20px;
    width: 50%;
    padding: 20px;
    margin: 20px 50px;
   }
   .caja2{
    border-style: solid;
    border-color: rgb(240, 146, 115);
    border-width: 20px;
    width: 50%;
    padding: 20px;
    margin: 20px 50px;
 }
 #caja3{
     border: goldenrod solid 10px;

}
#caja4{
background-color: crimson;
color: black;
}